<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
    <style>
        h1 {
            color: rgb(80, 80, 80);
            font-weight: lighter;
        }
    </style>
</head>

<body class="my-bg-grad">
    <div class="container center-horizontal">
        <div class="content-books">
            <h1>Table of Books</h1>
            <table id="table-books">
                <tr>
                    <th>Name of Book</th>
                    <th>Author</th>
                    <th>Year</th>
                </tr>
            </table>
        </div>
        <br style="height: 60px;">
        <div class="content-authors" style="margin-top: 20px;">
            <h1>Table of Authors</h1>
            <table id="table-authors">
                <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Email</th>
                </tr>
            </table>
        </div>
    </div>
    <a href="/index.html" style="position: fixed; bottom: 40px; left: 40px;
        color: white;">&#8701; Go To Forms</a>
</body>

</html>